uploads
# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# environment files
.env
frontend/.env
backend/.env

# build files
dist/
frontend/dist/

# uploads (optional)
backend/uploads/

# logs
*.log
frontend/*.log
backend/*.log

# system files
.DS_Store
