PORT=5000
MONGO_URI=mongodb+srv://bilal:bilal123@cluster.mongodb.net/hospital-management
CLIENT_URL=https://your-netlify-site.netlify.app

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_EMAIL=admin@hospital.com
ADMIN_PASSWORD=Admin@123

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
